.catalogPage {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 64px;
  gap: 67px;
}

.locationTitle {
  font-weight: 400;
  font-size: 16px;
}

.textInput {
  font-weight: 400;
  font-size: 16px;
}
.location_input {
  width: 360px; /* Встановлює ширину 360 пікселів */
  height: 56px; /* Встановлює висоту 56 пікселів */
  padding: 10px; /* Додає відступи (можете налаштувати за потребою) */
  border: 2px solid #dadde1; /* Встановлює колір і товщину рамки */
  border-radius: 4px; /* Додає закруглення кутів (за бажанням) */
  font-size: 16px; /* Встановлює розмір шрифту */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Додає тінь (за бажанням) */
}

.catalogPageCont {
  display: flex;
  flex-direction: column;
}

.header {
  position: sticky; /* Залишає хедер на місці */
  top: 0; /* Залишити його на верху */
  z-index: 1000; /* Забезпечує, що хедер буде над іншими елементами */
  background-color: white; /* Додайте фон для видимості */
  height: 64px;
}

.filterSidebar {
  position: sticky;
  top: 116px;
  z-index: 900;
  background-color: white;
  height: calc(100vh - 116px);
  overflow-y: auto;
}
.showMoreBtn {
  background-color: #e44848;
  margin-left: 1px;
  width: 166px;
  height: 56px;
  border: none;
}
.showMoreBtn:hover {
  background-color: #d84343;
}
.catalogBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
