.bookingFormContainer {
  padding: 20px;
  border-radius: 8px;
  margin: 44px 57px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

.bookingForm input,
.bookingForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: none;
}

.submitButton {
  padding: 10px 20px;
  background-color: #ff6666;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #ff4c4c;
}

.successMessage {
  text-align: center;
  padding: 20px;
  background-color: #8d94d5;
  border-radius: 8px;
}
.bookingForm {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
}
.submitButton {
  width: 166px;
  height: 56px;
  border-radius: 200px;
}

.bookingForm input::placeholder,
.bookingForm textarea::placeholder {
  color: #2a2525;
  opacity: 1;
}
