.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  height: 64px;
  padding-left: 0;
}

.containerDetailPage {
  display: flex;
  flex-direction: column;
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 48px;
  padding-bottom: 60px;
  width: 1440px;
}
.divider {
  border: none;
  height: 1px;
  background-color: #dadde1;
  margin: 24px 0 44px 0;
}
.headerDetPageDown {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-top: 60px;
  gap: 20px;
  padding: 0;
}

.contentSect {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: flex-start;
  align-items: flex-start;
}

.leftSection {
  width: 640px;
  border-radius: 10px;
}
.richSection {
  width: 640px;
  height: 588px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #dadde1;
}
.headerItem {
  position: relative;
  cursor: pointer;
  margin: 0;
}

.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -24px;
  width: 100%;
  height: 5px;
  background-color: #e44848;
}
.rewCont {
  background-color: #ffffff;
}
.featureCont {
  background-color: #fafafa;
  height: 588px;
  border-radius: 10px;
}
